* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Monaspace Radon", "Radon", "monaspace", Arial, Helvetica,
    sans-serif;
}
#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#button {
  margin: 10px 0px;
  padding: 10px 50px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 15px;
}
#grid-container {
  height: 700px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;

  border: 3px solid black;
}
.grid {
  aspect-ratio: 1 / 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 6.25%;
  border: 1px solid rgba(0, 0, 0, 0.062);
}
