* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Monaspace Radon", "Radon", "monaspace", Arial, Helvetica,
    sans-serif;
}
#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#grid-container {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
#grid {
  aspect-ratio: 1 / 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 6.25;
}
